Package: dylv.liquidass
Name: Liquid (Gl)ass
Version: 0.1.1
Architecture: iphoneos-arm
Description: next level diarrhea
Maintainer: dylv
Author: dylv
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000), firmware (>= 12.0), firmware (<< 26.0), preferenceloader
Icon: https://winaviation.github.io/repo/depictions/dylv.liquidass/icon.png
